html
  head
    title= 'WEB2 PROJEKT2'
  body
    div
        h2= 'Ocijene za korisnika Ivan Ivić:'
        ul
            each item in grades
                li= 'Id: ' + item.id + ', Student: ' + item.owner_name + ', Ocijena: ' + item.grade 
        button this is a button