html
  head
    title= 'WEB2 PROJEKT2'
    link(rel="stylesheet", href="css/myStyle.css")
  body
    div.container
      div.mb
        a(href="/filterGrades") 
          button.xlarge-font= 'SQL umetanje'
      div.mb
        a(href="/xxe")
          button.xlarge-font= 'Vanjski XML entiteti'
      div.mb
        a(href="/deserialization")
          button.xlarge-font= 'Nesigurna deserijalizacija'