.inline{
    display: inline-block;
    margin-left: 3px;
}

.container{
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.xlarge-font{
    font-size: x-large;
}

.mb{
    margin-bottom: 2rem;
}